.grid div {
  width: 40px;
  height: 40px;
}

.grid-opponent {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: cadetblue;
  margin: 20px;
}

.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blanchedalmond;
  margin: 20px;
}

.grid-display {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(153, 226, 255);
  margin: 20px;
}
